ul {
    list-style-type: none;
    margin-bottom: 10px;
}
li::before {
    display:inline-block;
    width: 1rem;
    height: 1rem;
    margin-right: 0.25rem;
    content:"";
}
.open::before, .closed::before {
    background-size: 1rem 1rem;
    position: relative;
    top: 0.25rem;
    opacity: 0.3;
}
.open::before {
    content:'🔽';
    vertical-align: inherit;
    
}
.closed::before {
    content: '▶️';
    vertical-align: inherit;
}
.closed .closed::before, .closed .open::before {
    display: none;
}